*{
    padding: 0;
    margin: 0;
}

#container{
    background-color: yellow;
   padding: 50px;
   margin: 60px;
}
h1{
    text-align: center;
}
#btn{
    margin-top: 20px;
    margin-left: 140px;
    height: 30px;
    width: 80px;
    background-color: blue;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
}
